<div class="cards-container">
  {{#each @model as |gif|}}
    <img class="object-fit" src="{{gif.images.fixed_height.url}}">
    <a href="{{gif.images.original.url}}">Original url</a>
    {{gif.title}}
  {{/each}}
</div>
