<PaperSidenav @class="primary site-nav">
  <PaperToolbar as |toolbar|>
    <toolbar.tools>
      <PaperButton @iconButton={{true}}>
        {{paper-icon "menu"}}
      </PaperButton>
      <div class="app-name">
        Ember Paper
      </div>
    </toolbar.tools>
  </PaperToolbar>
  <PaperContent @padding={{true}}>
    <p>PaperContent</p>
    <p>PaperContent</p>
  </PaperContent>
</PaperSidenav>
