<div class="inline-components">
  <PaperSidenavContainer @class="inner-sidenav">
    <SideNav />
  </PaperSidenavContainer>

  <div class="cards-container">
    <Cards />
    {{outlet}}
  </div>
</div>
